/* p {
  font-family: Lato;
} */

.container {
  text-align: center;
}

.seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  margin: 20px auto;
}

.seats div {
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #000;
}

.available {
  background-color: green;
  color: white;
}

.booked {
  background-color: red;
  color: white;
}
